<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <form action="/account" method="post">
                    <p><label for="name">Name:</label><input type="text" name="name" id="name" class="form-control" required></p>
                    <p><label for="email">Email:</label><input type="email" name="email" id="email" class="form-control" required></p>
                    <p><label for="password">Password:</label><input type="password" name="password" class="form-control" id="password"
                            required></p>

                    <input type="submit" value="Create Account" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
</div>