<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 100%;">
      <div class="card-body">
        <h3 class="card-title">Account Information</h3>
        <p class="card-text">
        <p>Name: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Height in Inches: <%= @user.height %></p>
        <p>Weight in Pounds: <%= @user.weight %></p>
        <a href="/account/edit" class="btn btn-primary">Edit Account</a><br><br>
        <form action="/account" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete Account" class="btn btn-danger" />
        </form>
        </p>
      </div>
    </div>
  </div>
</div>