<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <form action="/meals" method="POST">
                    <p><label for="meal_name">Meal Name:</label><input type="text" class="form-control" name="meal[name]"></p>
                    <p>Items:</p>
                    <% @items.each do |item| %>
                        <p>
                            <input type="checkbox" name="meal[item_ids][]" value="<%= item.id %>">
                            <%= item.name %>
                        </p>
                    <% end %>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>