<div class="row">
  <div class="col-sm">
    <h2>Name: <%= @meal.name %></h2>
    <h2>Items:</h2>
    <% @items.each do |item| %>
        <p><%= item.name %></p>
    <% end %>
    <button><a href="/meals/<%= @meal.id %>/edit">Edit Meal</a></button>
  </div>
  <div class="col-sm">
    <h2>Options</h2>
    <form action="/meals/<%= @meal.id %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete" />
      <input type="submit" value="Delete Meal" />
    </form>
  </div>
</div>
