<h2>Create a New Item</h2>
<form action="/items" method="post">
    <p><label for="name">Item Name:</label><input type="text" name="name" id="name" required></p>
    <p><label for="calories">Calories:</label><input type="number" name="calories" id="calories" min="0" max="100000"></p>
    <p><label for="total_fat">Total Fat:</label><input type="number" name="total_fat" id="total_fat" min="0" max="100000"></p>
    <p><label for="cholesterol">Cholesterol:</label><input type="number" name="cholesterol" id="cholesterol" min="0" max="100000"></p>
    <p><label for="sodium">Sodium</label><input type="number" name="sodium" id="sodium" min="0" max="100000"></p>
    <p><label for="total_carbs">Total Carbs:</label><input type="number" name="total_carbs" id="total_carbs" min="0" max="100000"></p>
    <p><label for="protein">Protein:</label><input type="number" name="protein" id="protein" min="0" max="100000"></p>

    <input type="submit" value="Create Item">
</form>