<div class="row">
    <div class="col-md-4">
        <div class="card" style="width: 100%;">
            <div class="card-body">
                <form action="/items" method="post">
                    <p><label for="name">Item Name:</label><input type="text" name="name" id="name" class="form-control"
                            required></p>
                    <p><label for="calories">Calories:</label><input type="number" name="calories" id="calories"
                            class="form-control" min="0" max="100000"></p>
                    <p><label for="total_fat">Total Fat:</label><input type="number" name="total_fat" id="total_fat"
                            class="form-control" min="0" max="100000"></p>
                    <p><label for="cholesterol">Cholesterol:</label><input type="number" name="cholesterol"
                            id="cholesterol" class="form-control" min="0" max="100000"></p>
                    <p><label for="sodium">Sodium</label><input type="number" name="sodium" id="sodium"
                            class="form-control" min="0" max="100000"></p>

                    <p><label for="total_carbs">Total Carbs:</label><input type="number" name="total_carbs"
                            id="total_carbs" class="form-control" min="0" max="100000"></p>
                    <p><label for="protein">Protein:</label><input type="number" name="protein" id="protein"
                            class="form-control" min="0" max="100000"></p>

                    <input class="btn btn-primary" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>