<div class="jumbotron">
  <h1 class="display-4">Welcome to Meal Tracker</h1>
  <p class="lead">
    Tired of tracking your meals by hand? Sign up for an account today and get
    started.
  </p>
  <hr class="my-4" />
  <a class="btn btn-primary btn-lg" href="/account/new" role="button"
    >Create Account</a
  >
</div>
